/* Write your CSS here */
.footer-bg-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  margin-bottom: 40px;
}

.footer-container {
  text-align: center;
  background-color: #cbd5e1;
  width: 85%;
}

.footer {
  margin-left: 8px;
  font-size: 34px;
  color: #475569;
  padding-top: 25px;
  padding-bottom: 25px;
  margin: 10px;
}

@media screen and (max-width: 767px) {
  .footer {
    font-size: 23px;
  }

  .footer-bg-container {
    margin-top: -8px;
    margin-bottom: 30px;
  }
}
