/* Write your CSS here */
.configuration-bg-container {
  display: flex;
  justify-content: center;
  background-color: #475569;
}

.configuration-container {
  width: 85%;
  padding-top: 10px;
  padding-bottom: 30px;
}

.layout-heading {
  color: #ffffff;
  margin-left: 8px;
  margin-bottom: 20px;
  font-size: 35px;
}

.input-container {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.input {
  margin: 0px;
  margin-right: 5px;
  width: 30px;
}

.label {
  font-size: 15px;
  color: #ffffff;
}

@media screen and (max-width: 767px) {
  .layout-heading {
    font-size: 25px;
    margin-left: 6px;
  }

  .input {
    width: 25px;
    margin-right: 3px;
  }

  .label {
    font-size: 13px;
  }

  .configuration-container {
    padding: 1px 25px 10px 25px;
  }
}
